server:
  port: 8200
spring:
  application:
    name: project-service
  redis:
    connect-timeout:

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 4000
  circuitbreaker:
    enabled: true
    alphanumeric-ids:
      enabled: true
resilience4j:
  timelimiter:
    instances:
      EmployeeClientgetProjectEmployeesLong:
        timeoutDuration: 3s
  circuitbreaker:
    instances:
      EmployeeClientgetProjectEmployeesLong:
        sliding-window-size: 4
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        automatic-transition-from-open-to-half-open-enabled: true
