server:
  port: 8200
spring:
  application:
    name: project-service
  redis:
    connect-timeout:
  cloud:
    openfeign:
      client:
        config:
          default:
            connect-timeout: 5000
            read-timeout: 30000

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

resilience4j:
  retry:
    instances:
      EmployeeClientgetProjectEmployeesLong:
        max-retry-attempts: 3
        wait-duration: 1s
